
#Título{padding:40px;
        font-family:fantasy;
        text-shadow: 2px 2px 3px #B24592;}
header{background-color: #eef2f3;}

nav{
    background: #B24592; 
    background: -webkit-linear-gradient(to right, #F15F79, #B24592); 
    background: linear-gradient(to right, #F15F79, #B24592);
    font-family: monospace; 
}

#menu{
    background-color: #F15F79;}

body{background: #70e1f5; 
background: -webkit-linear-gradient(to right, #ffd194, #70e1f5); 
background: linear-gradient(to right, #ffd194, #70e1f5); 

}

footer{ background: #B24592;  
    background: -webkit-linear-gradient(to right, #F15F79, #B24592);  
    background: linear-gradient(to right, #F15F79, #B24592);
    

}

